.form {
    display: flex;
    border-top: 2px solid #D3D3D3;
  }
  
  .input {
    border: 1px solid #a9a5a5;
    border-radius: 0;
    padding: 2%;
    width: 80%;
    font-size: 1em;
    background-color: #d2d2d2;
    font-family: 'Merriweather', serif;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    color: #fff !important;
    font-family: 'Merriweather', serif;
    text-transform: uppercase;
    text-decoration: none;
    background: #693b3b;
    padding: 20px;
    display: inline-block;
    width: 20%;
    border: none;
  }